table {
  font-family: verdana, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  border-color: #d3d3d3;
  border-collapse: collapse;
}
table th {
  padding: 8px;
  border-style: solid;
  border-color: #d3d3d3;
  background-color: #3b78e7;
  color: #ffffff;
}
table th:hover {
  cursor: pointer;
}
table tr:nth-child(even) td{
  background-color: #ebf1fa;
}
table td {
  padding: 8px;
  border-style: solid;
  border-color: #d3d3d3;
  background-color: #fafafa;
}
